<!-- fragment 4 start -->
<table  class="w-full bg-white text-center">
  <tr>
    <td>
      <x-image class="w-[100px]" imgUrl="user.png" />
    </td>
  </tr>
  <tr>
    <td class="text-[#005555] font-bold text-[20px] leading-[23px]">Nisi ut ade</td>
  </tr>
  <tr>
    <td class="text-[#444444] font-normal text-[16px] leading-[18.4px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam.¹</td>
  </tr>
  
</table>
<!-- fragment 4 end -->