<!-- fragment 5 start -->
<table class="w-full bg-white text-center">
  <tr>
    <td>
      <x-image class="w-[100px]" imgUrl="user.png" />
    </td>
  </tr>
  <tr>
    <td class="text-[#005555] font-bold text-[20px] leading-[23px] pt-[15px]">Duis aute irure</td>
  </tr>
  <tr>
    <td class="text-[#444444] font-normal text-[16px] leading-[18.4px] pt-[20px]">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span> </td>
  </tr>
</table>
<!-- fragment 5 end -->