<table class="w-full bg-[#F0F5F5]">
  <tr class="text-center">
    <td class="text-[#005555] font-bold text-[24px] leading-[27.6px]">Sint cupidatat occaecat ut </td>
  </tr>
  <tr>
    <td class="p-[20px]">
      <table>
        <tr>
          <td class="w-6/12 sm:w-full">
            <x-fragments.fragment-04 />
          </td>
          <td class="w-6/12 sm:w-full">
            <x-fragments.fragment-04 />
          </td>
          <!-- <td class="sm:w-[30px]"></td> -->
          <td class="w-6/12 sm:w-full">
            <x-fragments.fragment-04 />
          </td>
        </tr>
 
    </td>
  </tr>
</table>