<table class="w-full">
  <tr>
    <td class="text-[#000000] text-[12px] font-bold leading-[13.8px] px-[20px] pt-[35px]">Ut enim ad minim:</td>
  </tr>
  <tr>
    <td class="text-[#000000] text-[12px] font-normal leading-[13.8px] px-[20px] pt-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
  </tr>
  <tr>
    <td class="text-[#000000] text-[12px] font-normal leading-[13.8px] px-[20px] pt-[15px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </td>
  </tr>
  <tr>
    <td class="text-[#000000] text-[12px] font-bold leading-[13.8px] px-[20px] pt-[27px]">Sint occaecat cupidatat:</td>
  </tr>
  <tr>
    <td class="pt-[15px] px-[20px]">
   <table class="w-full">
    <tbody>
      <tr>
      <td class="text-[#000000] text-[12px] align-top text-center leading-[13.8px]" width="3%">
      1. 
      </td>	
      <td class="text-[#000000] text-[12px] align-top text-left font-normal leading-[13.8px]" width="97%"> 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      </td>
    </tr>  
    <tr>
      <td class="text-[#000000] text-[12px] align-top text-center font-normal leading-[13.8px]">
        2. 
        </td>
      <td class="text-[#000000] text-[12px] align-top text-left font-normal leading-[13.8px]"> 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
      </td>
    </tr> 
   </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="px-[20px] pt-[15px]">
      <hr class="w-full h-[1px] mx-auto bg-[#002B2B] border-0  dark:bg-gray-700">
    </td>
  </tr>
</table>
