<table class="w-full bg-[#F0F5F5]">
  <tr class="text-center">
    <td class="text-[#005555] font-bold text-[24px] leading-[27.6px]">Sint cupidatat occaecat ut </td>
  </tr>
  <tr>
    <td class="pt-[35px] px-[20px]">
      <table>
        <tr>
          <td class="sm:w-full py-[30px] px-[25px] bg-white align-top sm:block" width="48%">
            <x-fragments.fragment-04 />
          </td>
          <td width="4%" class="sm:w-full bg-[#F0F5F5] sm:py-[20px] sm:block">&nbsp;</td>
          <td class="sm:w-full py-[30px] px-[25px] bg-white align-top sm:block" width="48%">
            <x-fragments.fragment-05 />
          </td>
        </tr>
        </table>
    </td>
  </tr>
</table>