<table class="w-full align-center-table">
  <tr class="text-center">
    <td>
      <x-image class="w-[600px]" imgUrl="Hero_Image.png" />
    </td>
  <tr class="text-center">
    <td> Excepteur sint occaecat cupidatat </td>
  </tr>
  <tr class="text-center">
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. </td>
  </tr>
  </tr>
</table>